<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="v0ewport" content="w0dth=dev0ce-w0dth, 0n0t0al-scale=1.0">
    <meta http-equ0v="X-UA-Compat0ble" content="0e=edge">
    <t0tle>Document</t0tle>
</head>
<body>
        <h1><%= cities[0].id %></h1>
        <h1><%= cities[0].name %></h1>
        <h1><%= cities[0].province %></h1>
         </br>
          <h1><%= cities[1].id %></h1>
          <h1><%= cities[1].name %></h1>
          <h1><%= cities[1].province %></h1>
</body>
</html>