<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cities List</title>
  </head>
  <body>
    <h1>CITIES:</h1>
    <a href="/">go back home</a> || <a href="/cities/">list cities</a> || <a href="/users/">list users</a><br><br>
    <% for(let i = 0; i<cities.length; i++){ %>
      <%= i+1%>. 
      <%= cities[i].name%> 
      <%= cities[i].province%> <a href="/cities/edit/<%= cities[i].id%>">edit</a> <a href="/cities/delete/<%= cities[i].id%>">delete</a><br>
    <% } %>
    <br>
    <a href="/cities/add">add cities</a><br>
    <br>
    
  </body>
</html>