<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <ul>
    <li> <h1><%= users[0].username %> </h1></li>
    <li> <h1><%= users[1].username %> </h1></li>
    <li> <h1><%= users[0].password %> </h1></li>
    <li> <h1><%= users[1].password %> </h1></li>
    <li> <h1><%= users[0].email %> </h1></li>
    <li> <h1><%= users[1].email %> </h1></li>
  </ul>

  </body>
</html>
