<%- include('../partials/head',{})%>
<%- include('../partials/menu',{})%>

<h2>Table Cities</h2>
<table class="table table-striped">
	 <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Province</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    	<% cities.forEach(city=>{  %>
      <tr>
        <td><%=city.id%></td>
        <td><%=city.name%></td>
        <td><%=city.province%></td>
        <td><a href="/cities/edit/<%=city.id%>" class="btn btn-primary">Edit</a>  
        <a href="/cities/delete/<%=city.id%>" class="btn btn-primary">Delete</a>
        <a href="/cities/add" class="btn btn-primary">Add</a>
        </td>
      </tr>
      <%})%>

    </tbody>
  </table>

	

	

<%- include('../partials/footer',{})%>
