<%- include('../partials/head',{})%>
<%- include('../partials/menu')%>

	<h3>Edit Data Kota </h3>
<form action="/cities/edit/<%=edit.id%>" method = "POST">
  Name:<br>
  <input type="text" name="name" value="<%=edit.name%>">
  <br>
  Province:<br>
  <input type="text" name="province" value="<%=edit.province%>">
  <br><br>
  <input type="submit" value="Submit">
</form> 


<%- include('../partials/footer',{})%>