<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>id kota : <%= cities[0].id%></h3>
    <h3>nama kota : <%= cities[0].name%></h3>
    <h3>provinsi : <%= cities[0].province%></h3>
    <br/>
    <h3>id kota : <%= cities[1].id%></h3>
    <h3>nama kota : <%= cities[1].name%></h3>
    <h3>provinsi : <%= cities[1].province%></h3>
  </body>
</html>
