<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>userID : <%= users[0].id%></h3>
    <h3>username : <%= users[0].username%></h3>
    <h3>password user : <%= users[0].password%></h3>
    <h3>email user :<%= users[0].email%></h3>
    <br/>
    <h3>userID : <%= users[1].id%></h3>
    <h3>username : <%= users[1].username%></h3>
    <h3>password user : <%= users[1].password%></h3>
    <h3>email user : <%= users[1].email%></h3>

  </body>
</html>
